*
{
	color: navy;
	border-radius: 15px;
}

h1
{
	color: #CD8B04;
}

body
{
/*	background-image: url('background.jpg'); */
	background-color: #048BCD;
	width: 960px;
	margin-left: 200px;
	font-family: sans-serif;
}

#logout
{
	float: right;
	width: 100px;
	margin-right: 250px;
}

.message
{
	padding: 30px;
	width: 700px;
/*	border: 3px solid green;
*/	font-size: 17px;
	background-color: white;
	opacity: .8;
}

.comment
{
	width: 400px;
	margin-left: 200px;
	border: 2px dotted black;
	font-size: 12px;
	background-color: gray;
	opacity: .6;
}

.date
{
	font-size: 7px;
}

.index form
{
	width: 250px;
}